*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: absolute;
    width: 100%;
    height: 25%;
    display: flex;
    border-bottom: 3px solid rgb(123, 172, 83);
}
section .slide{
    position: relative;
    background: #212121;
    height: 100%;
    flex: 6;
    border-right: 2px solid rgba(148, 218, 92, 0.719);
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
section .slide:last-child{
    border-right: none;
}
section .slide:hover{
    flex-grow: 5;
}
section .slide:nth-child(1){
    background-image: url(/img/img1.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
section .slide:nth-child(2){
    background-image: url(/img/img2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
section .slide:nth-child(3){
    background-image: url(/img/img3.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
section .slide:nth-child(4){
    background-image: url(/img/img4.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
section .slide:nth-child(5){
    background-image: url(/img/img5.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
section .slide .content{
    position: absolute;
    bottom: 0;
    margin: 4px;
    padding: 3px;
    background: #000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(50px);
}
section .slide:hover .content{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(0);
}
@media screen and (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    section{
        position: absolute;
        margin-top: 0px;
        width: 100%;
        height: 20%;
        border-bottom: 1px solid rgb(205, 228, 186);
    }
    section .slide:nth-child(1){
        background-image: url(/img/img1.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    section .slide:nth-child(2){
        background-image: url(/img/img2.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    section .slide:nth-child(3){
        background-image: url(/img/img3.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    section .slide:nth-child(4){
        background-image: url(/img/img4.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    section .slide:nth-child(5){
        background-image: url(/img/img5.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}